/* ------------------- */
/* Font import         */
/* ------------------- */

/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* * Colors: * */
  --clr-primary-1: 14, 45%, 36%;
  --clr-primary-2: 332, 51%, 32%;

  --clr-neutral-1: 0, 0%, 100%;
  --clr-neutral-2: 330, 100%, 98%;
  --clr-neutral-3: 30, 54%, 90%;
  --clr-neutral-4: 30, 18%, 87%;
  --clr-neutral-5: 30, 10%, 34%;
  --clr-neutral-6: 24, 5%, 18%;
  /* * Typography: * */
  /* ? fonts families ? */
  --ff-primary-1: 'Outfit', sans-serif;
  --ff-primary-2: 'Young Serif', sans-serif;
  /* ? font sizes ? */
  --fs-1000: 2.986rem;
  --fs-900: 2.288rem;
  --fs-800: 2.074rem;
  --fs-700: 1.728rem;
  --fs-600: 1.44rem;
  --fs-500: 1.2rem;
  --fs-400: 1rem;
  --fs-300: 0.833rem;
  --fs-200: 0.694rem;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100svh;
  position: relative;
  font-size: var(--fs-400);
  overflow-x: hidden;
  font-family: var(--ff-primary-1);
  background-color: hsl(var(--clr-neutral-3));
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-none { display: none }

.d-block { display: block; }

.flow > * + * {
  margin-top: var(--flow-spacing, 1rem);
}

.flow-spacing--sm { --flow-spacing: .5rem; }
.flow-spacing--lg { --flow-spacing: 2rem; }

/* color */

/* typography */

.ff-primary-1 { font-family: var(--ff-primary-1); }
.ff-primary-2 { font-family: var(--ff-primary-2); }

.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }

.fs-1000 { font-size: var(--fs-1000); }
.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fw-900 { font-weight: 900; }
.fw-800 { font-weight: 800; }
.fw-700 { font-weight: 700; }
.fw-600 { font-weight: 600; }
.fw-500 { font-weight: 500; }
.fw-400 { font-weight: 400; }
.fw-300 { font-weight: 300; }
.fw-200 { font-weight: 200; }

h1, h2, h3 { line-height: 1.1; }

/* other */

/* ------------------- */
/* Compontents         */
/* ------------------- */

h1, h2, h3, h4, h5, h6 { font-weight: 600; }
h1, h2{ font-family: var(--ff-primary-2); }

h1 { font-size: var(--fs-900); color: hsl(var(--clr-neutral-6)); }
h2 { font-size: var(--fs-800); color: hsl(var(--clr-primary-1)); }
h3 { font-size: var(--fs-600); color: hsl(var(--clr-primary-2)); }

.recipe-con {
  background-color: hsl(var(--clr-neutral-1));
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipe-content {
  padding-inline: 2rem;
}

@media (min-width: 35rem) {
  .recipe-con {
    padding: 2rem;
    border-radius: 2rem;
  }
  .recipe-img {
    border-radius: 1rem;
  }
  .recipe-content {
    padding-inline: 0;
  }
}

.info-box {
  background-color: hsl(var(--clr-neutral-2));
  padding: 1.5rem;
  border-radius: 1rem;
}

hr {
  height: 2px;
  background-color: hsl(var(--clr-neutral-4));
  width: 100%;
  border: none;
}

p {
  color: hsl(var(--clr-neutral-5));
}

.custom-list {
  --dash-width: 3rem; 
  counter-reset: dash-order;
}

.custom-list > div {
  display: grid;
  grid-template-columns: var(--dash-width) 1fr;
  line-height: 2;
  color: hsl(var(--clr-neutral-5));
}

.custom-list .dash {
  counter-increment: dash-order;
  width: var(--dash-width);
  text-align: center;
  position: relative;
}

.custom-list .dash::before {
  content: "•";
  color: hsl(var(--dash-color, var(--clr-primary-1)));
  font-weight: 700;
  position: absolute;
  inset: auto;
  left: 0;
  right: 0;
}

.custom-list.numbered-list .dash::before {
  content: counter(dash-order) ".";
}

table td,
table th {
  padding: 1rem 3rem;
  text-align: left;
  border-bottom: 1px solid hsl(var(--clr-neutral-4));
}

table th {
  font-weight: 600;
  color: hsl(var(--clr-neutral-5));
}

table td {
  font-weight: 600;
  color: hsl(var(--clr-primary-1));
}

/* ------------------- */
/* Layout              */
/* ------------------- */

.grid-container {
  display: grid;
  margin: 0 auto;
  align-items: start;
}

@media (min-width: 35em) {
  .grid-container {
    margin: clamp(1rem, 5vw, 6rem) auto;
    grid-template-columns: 
    minmax(1rem, 1fr)  
    minmax(0, 60rem) 
    minmax(1rem, 1fr);
  }

  .grid-container > *:nth-child(1) {
    grid-column: 2;
  }
}